.list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 5px;
    margin-left: auto;
}
.btn:hover,
.btn:focus {
    opacity: 0.8;
}